{% extends 'base.html.twig' %}

{% block title %} Login {% endblock %}

{% block body %}
        
        <!-- Login Start -->
        <div class="login">
            <div class="container-fluid">
                <div class="row">
{#                    <div class="col-lg-6">    #}

{#                    </div>#}
                    <form action="{{ path('security_login') }}" method="post" class="col-lg-6">
                        <div class="login-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>E-mail / Username</label>
                                    <input class="form-control" type="text" name="_username" placeholder="Votre E-mail">
                                </div>
                                <div class="col-md-6">
                                    <label>Mot de passe</label>
                                    <input class="form-control" type="password" name="_password" placeholder="Mot de passe">
                                </div>
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="newaccount">
                                        <label class="custom-control-label" for="newaccount">Keep me signed in</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Login End -->

{% endblock %}